[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "cmahalanobis"]
	path = cmahalanobis
	url = https://github.com/cran/cmahalanobis
